body {
  margin: 0px;
  background-color: white;
}

@font-face {
  font-family: 'DancingScriptBold';
  src: local('DancingScript-Bold'), url(./Fonts/DancingScript-Bold.ttf) format('ttf')
}

@font-face {
  font-family: 'MontserratMedium';
  src: local('Montserrat-Medium'), url(./Fonts/Montserrat-Medium.ttf) format('ttf')
}