body {
  margin: 0px;
  background-color: white;
}

@font-face {
  font-family: 'DancingScriptBold';
  src: url(./Fonts/DancingScript-Bold.ttf)
}

@font-face {
  font-family: 'MontserratMedium';
  src: url(./Fonts/Montserrat-Medium.ttf)
}